/* .search-stock {
  border: 2px solid salmon;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-input {
  border: 2px solid green;
  width: 60%;
  padding: 15px;
  margin: 0 auto;
  align-items: left;
}

.submit-input {
  border: 2px solid blueviolet;
  width: 40%;
  padding: 15px;
  margin: 0 auto;
} */

