@import "../../config";
form {
  margin-top: 70px;
}
.search-input {
  z-index: 2;
}
.cls-1 {
  fill: #e89797;
}
.search-button {
  background-color: $light-grey;
  padding: 8px 20px 6px 78px;
  z-index: -2;
  margin-right: -7px;
  margin-top: 19px;
  height: 22px;
  &:hover {
    background: $dark-grey;
    margin-right: -7px;
    transition: 0.5s;
  }
}
.input_field {
  z-index: 10;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  padding: 10px 5px;
  border-radius: 0.01px;
  margin-left: 20px;
}
i {
  margin-left: 45%;
}
.cursor {
  z-index: 1;
  position: relative;
}
.cursor i {
  position: absolute;
  width: 2px;
  height: 80%;
  background-color: rgb(41, 41, 41);
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}
.cursor input:focus + i {
  display: none;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.submit_input {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

//mobile
@include mediaSm {
  i {
    margin-left: 2% !important;
  }
  .input_field {
    padding-left: 15px;
    text-align: left;
  }
  .search-button {
    background-color: $light-grey;
    padding: 8px 20px 4px 80px;
    z-index: -2;
    margin-top: 18px;
    height: 27px;
    position: absolute;
    right: 0;
  }
  ::placeholder {
    text-align: left;
    padding-left: 3px;
  }
}

@include mediaMd {
  i {
    margin-left: 43%;
  }
  .input_field {
    margin-left: 5px;
  }
}

@include mediaLg {
  i {
    margin-left: 46%;
  }
  .input_field {
    margin-left: 12px;
  }
}

@include mediaXl {
  i {
    margin-left: 47%;
  }
  .input_field {
    margin-left: 7px;
  }
}
