@import "../../config";
/* body {
  background-color: $blue;
  color: $light-grey;
} */
.item {
  padding-top: 5px;
  border-top: 2px solid $light-grey;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.symbol_name {
  /* border: 2px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1px 0 3px 20px;
}

.price_percent {
  /* border: 2px solid yellow; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.symbol,
.price {
  font-size: 20px;
}

/* Hi Monica!!!! :) :) :)  */

.name,
.percent {
  font-size: 14px;
}

.del-icon {
  margin-left: 20px;
  margin-bottom: 5px;
  width: 20px;
  &:hover {
    transform: rotate(180deg);
    transition: 0.8s;
    transition-timing-function: ease-out;
    margin-left: 18px;
    width: 27px;
  }
}
.info-icon {
  margin-bottom: 5px;
  width: 20px;
  margin-right: 20px;
  &:hover {
    margin-right: 18px;
    transition: 0.2s;
    transition-timing-function: ease-out;
    opacity: 0.2;
    width: 23px;
  }
}
.stock-logo {
  margin-left: 20px;
  margin-bottom: -8px;
  width: 28px;
  border-radius: 100px;
}
body {
  .chart-page {
    background: rgba(224, 227, 235, 0) !important;
  }
}
.wiget {
  margin-right: 240px;
  padding-top: 0;
  margin-top: -5px;
  width: 100%;
  height: 100px;
  /* display: none; */
}

//mobile
@include mediaSm {
  .wiget {
    display: none;
  }
}

@include mediaMd {
  .wiget {
    display: none;
  }
}

@include mediaLg {
  .item {
    height: 150px;
  }
}

@include mediaXl {
  .item {
    height: 150px;
  }
  .wiget {
    margin-right: 380px;
  }
}
