@import "../../config";
.item {
  border-top: 2px solid $light-grey;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.symbol_name {
  /* border: 2px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1px 0 3px 20px;
}

.price_percent {
  /* border: 2px solid yellow; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.symbol,
.price {
  font-size: 20px;
}

/* Hi Monica!!!! :) :) :)  */

.name,
.percent {
  font-size: 14px;
}

#company_logo {
  text-align: left;
  width: 30px;
  height: 30px;
}
