@import url("https://fonts.googleapis.com/css?family=Varela+Round");

$black: #0b0c10;
$blue: #1f2833;
$dark-grey: #45a29e;
$med-grey: #c5c6c7;
$light-grey: #66fcf1;

//Media Query Mixins
@mixin mediaXSm {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
